*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /*border: 1px solid red;*/

    /* border: solid 1px red ; */
}

:root{
    --transition-btn-hover : all 400ms ease;
}

body{
    overflow-x: hidden;
}

section{
    height: 100vh;
}

/* nav */

.heading {
    position:abs;
    text-align: center;
    padding: 10px;
    color: #000000;
    background-color: #b8b8b8;

    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    font-size: 50px;
  }

body, nav, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  
  /* Basic styles for the navigation bar */
  nav {
    background-color: #f6f6f63a;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navigation li {
    margin-right: 15px;
    padding:5px 10px;
    border: solid 1px black;
  }
  
  .navigation li a {
    color: black;
    text-decoration: none;
  }

  .navigation li a:hover {
    color: rgb(30, 208, 175);
    text-decoration: none;
  }
  
  /* Styles for the responsive navigation bar */
  .menu-icon {
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ nav .navigation {
    display: flex;
    flex-direction: column;
  }
  
  #menu-toggle:checked ~ nav .navigation li {
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .menu-icon {
      display: block;
    }
  
    nav .navigation {
      display: none;
    }
  }

/* header */

#header{
    height: 24rem;
}

#header img{
    z-index: -1;
    padding-top: 4rem;
    object-fit: cover;
    width: 100vw;
    height: 20rem;
}

#header h1{
    position: relative;
    text-align: center;
    top: -55%;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/* donate */

#donate{
    height: fit-content;padding: 1rem 0;
}

#donate .wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8rem ;
    gap: 20px;
    text-align: center;
}

#donate .wrapper>*{
    flex: 1 50rem;
}

#donate .top p{
    padding: 0 2rem ;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:20px;
}

#donate .bottom .purch-wrapper button{
    padding: 1rem 2rem;
    border-radius: 20px;
}
#donate .bottom .purch-wrapper button:hover{
    background: rgb(81, 144, 206);
}

#donate .bottom .bar{
    padding: 1rem;
}

#donate .bottom .bar label
{
    padding: 1rem 1rem;
    margin-right: 2px;
    background:#F0F0F0;

    border-radius: 20px 0px 0px 20px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:15px;
}

#donate .bottom .bar input{
    padding: 1rem 1rem;
    background: #F0F0F0;

    border-radius: 0px 20px 20px 0px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:15px;
}

#donate .bottom .icon{
    padding:1rem 2rem;
    border-radius: 20px;
    max-width: 30rem;
    min-width: 10rem;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size:18px;
    background: rgb(152, 196, 227);
    color: white;
}
#donate .bottom .icon:hover{
    background: rgb(81, 144, 206);
}

/* Purchase */

#purchase{
    height: fit-content;
    padding: 1rem 0;
    text-align: center;
}

#purchase .top p{
    padding: 4rem 10rem ;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:20px;
}

#purchase .bottom .content-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0 8rem ;
    gap: 20px;
    text-align: center;
}

#purchase .bottom .content-wrapper>*{
    flex: 1  1 15rem;
}

#purchase .bottom .section{
    padding: 1rem;
    background:#F0F0F0 ;
    border-radius: 10px;
}

#purchase .bottom .section img{
    max-height: 20rem;
    max-width: 30rem;
    object-fit: cover;
    border-radius: 10px;
}

#purchase .bottom .section h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size:18px;
}

#purchase .bottom .section p{
    padding: 1rem 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size:16px;
}

#purchase .bottom .section input{
    padding:1rem 2rem;
    border-radius: 20px;
    max-width: 30rem;
    min-width: 10rem;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size:18px;
    background: rgb(152, 196, 227);
    color: white;
}
#purchase .bottom .section input:hover{
    background: rgb(81, 144, 206);
}

/* Footer */

footer{
    height: fit-content;
}

footer .footer-img{
    position: absolute;
    z-index: -2;
    border-radius: 10px;

    height:12rem;
    width: 100vw;
    object-fit: cover;

    filter: blur(1px);
}

footer .top ul{
    background: rgba(255, 255, 255, 0.355);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 15rem;
}

footer .top ul  a{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;

    transition: var(--transition-btn-hover);
}

footer .top ul  a:hover{
    color: white;
}

footer p{
    text-align: center;
    margin-top:1rem ;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

footer .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 40rem;

}

footer .bottom img{
    transition: var(--transition-btn-hover);
}

footer .bottom img:hover{
    scale: 1.4;
}

footer .bottom img{
    width: 30px;
}

footer .name{
    text-align: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 13px;

    margin-bottom: 1rem;
}


@media screen and (max-width : 1470px) {


    footer .top ul{
        padding: 1rem 10rem;
        gap: 15px;
    }
}

@media screen and (max-width : 1225px) {


    footer .footer-img{
        max-height:14rem;
    }
    

}


@media screen and (max-width : 1050px) {

    

}

@media screen and (max-width : 925px) {


    #donate .wrapper{
        padding: 0 4rem ;
    }


    footer .top ul{
        padding: 1rem 2rem;
        gap: 15px;
    }

    .about-p{
        padding: 0 2rem;
    }

    #purchase .bottom .content-wrapper{
        padding: 0 2rem ;
    }

    #purchase .top p{
        padding: 4rem 2rem ;
    }
        
}

@media screen and (max-width : 736px) {


    #donate .wrapper{
        flex-wrap: wrap;
    }

    #purchase .bottom .content-wrapper{
        padding: 0 1rem ;
    }

    footer .top ul{
        padding: 1rem 2rem;
        gap: 15px;
    }

    #main-video .quote{
        transform: translate(0,22rem);
    }
    
    .about-p{
        padding: 0 1rem;
    }

    #content .bottom p{
        padding: 0 2rem;
    }

    #purchase .top p{
        padding: 4rem 1rem ;
    }
}