*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /*border: 1px solid red;*/

    /* border: solid 1px red ; */
}

:root{
    --transition-btn-hover : all 400ms ease;
}

body{
    overflow-x: hidden;
}

section{
    height: 100vh;
}

/* nav */

.heading {
    position:abs;
    text-align: center;
    padding: 10px;
    color: #000000;
    background-color: #b8b8b8;

    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    font-size: 50px;
  }

body, nav, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  
  /* Basic styles for the navigation bar */
  nav {
    background-color: #f6f6f63a;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navigation li {
    margin-right: 15px;
    padding:5px 10px;
    border: solid 1px black;
  }
  
  .navigation li a {
    color: black;
    text-decoration: none;
  }

  .navigation li a:hover {
    color: rgb(30, 208, 175);
    text-decoration: none;
  }
  
  /* Styles for the responsive navigation bar */
  .menu-icon {
    color: black;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ nav .navigation {
    display: flex;
    flex-direction: column;
  }
  
  #menu-toggle:checked ~ nav .navigation li {
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .menu-icon {
      display: block;
    }
  
    nav .navigation {
      display: none;
    }
  }


/* header */

#header{
    height: 24rem;
}

#header img{
    z-index: -1;
    padding-top: 4rem;
    object-fit: cover;
    width: 100vw;
    height: 20rem;
}

#header h1{
    position: relative;
    text-align: center;
    top: -48%;

    font-family: 'Londrina Shadow', cursive;
    font-weight: 450;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

/* Content */

#content{
    height: fit-content;
    padding: 1rem 1rem;
}
.sec1 a{
    font-family: 'Rubik', sans-serif;
    font-weight: 10;
    font-size: 15px;
    color: rgb(97, 185, 183);
}
#content .wrapper{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#content .wrapper>*{
    flex: 1 20rem;
}

#content .section{
    border-radius: 10px;
    background: black;
}

#content img{
    object-fit: cover;
    border-radius: 10;
    border-radius: 10px;

    max-width: 100%;
    height: max-content;
    width: auto/9;
}

#content .text-wrapper{
    padding:1rem 0;
}

.text-wrapper h3{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.text-wrapper p{
    padding:0 15px;
    color: white;
}

/* Footer */

footer{
    height: fit-content;
}

footer .footer-img{
    position: absolute;
    z-index: -2;
    border-radius: 10px;

    height:12rem;
    width: 100vw;
    object-fit: cover;

    filter: blur(1px);
}

footer .top ul{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 15rem;
}

footer .top ul  a{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;

    transition: var(--transition-btn-hover);
}

footer .top ul  a:hover{
    color: white;
}

footer p{
    text-align: center;
    margin-top:1rem ;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

footer .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 40rem;

}

footer .bottom img{
    transition: var(--transition-btn-hover);
}

footer .bottom img:hover{
    scale: 1.4;
}

footer .bottom img{
    width: 30px;
}

footer .name{
    text-align: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 13px;

    margin-bottom: 1rem;
}


@media screen and (max-width : 1470px) {

    footer .top ul{
        padding: 1rem 10rem;
        gap: 15px;
    }
}

@media screen and (max-width : 1225px) {


    footer .footer-img{
        max-height:14rem;
    }
    

}


@media screen and (max-width : 1050px) {


    

}

@media screen and (max-width : 925px) {

    footer .top ul{
        padding: 1rem 2rem;
        gap: 15px;
    }

    .about-p{
        padding: 0 2rem;
    }

        
}

@media screen and (max-width : 736px) {

    footer .top ul{
        padding: 1rem 2rem;
        gap: 15px;
    }

    #main-video .quote{
        transform: translate(0,22rem);
    }
    
    .about-p{
        padding: 0 1rem;
    }

    #content .bottom p{
        padding: 0 2rem;
    }
}
